**/*.log
**/*.o
data/*
!data/spatial_allocator_v4.3.1_June2017.data.update_only.tar.gz.txt
!data/spatial_allocator_v4.3_Feb2017.data.tar.gz.txt
!data/README.md
ref
CVS
src/libs
!src/libs/netcdf-4.0.1/local
!src/libs/proj-4.8.0/local
!src/libs/hdf5-1.8.13/local
!src/libs/gdal-2.0.2/local
!src/libs/geos-3.5.0/local
!src/libs/hdf-4.2.11/local
src/libs/gdal-2.0.2/.libs/libgdal.a
src/libs/gdal-2.0.2/local/lib/libgdal.a
scripts/aa.txt
scripts/diff
scripts/filter_shapefile.csh
scripts/filter_surf_zone.csh
scripts/generate_surrogates_47021.csh
scripts/overlay_sites_on_egrid.csh
src/raster/extractEPIC2CMAQ.cpp.201605
src/raster/extractEPIC2CMAQ_epic0509_120216.cpp
src/raster/extractEPIC2CMAQ_epic0509_SWAT.cpp
src/raster/extractEPIC2CMAQ_swat20170301_soilW_fbare.cpp
src/raster/extractEPIC2CMAQ_swat20170301_soilW_fbare_short.cpp
src/raster/extractEPICYearlyAverage2CMAQ_csv_SWAT_201608.cpp
src/raster/extractdaily_info.csv
src/vector/
data_old
output
pg_srgcreate
tmp
